In [2]:
import pandas as pd
import os

### **1. 데이터 불러오기**

In [59]:
area_df = pd.read_csv('../../data/4.etc/processed1.csv')
area_df

,시점,행정구역(시),행정구역(시군구)별,총인구수,남자인구수,여자인구수,영아기,아동기,청소년기,청년기,중년기,노년기
0,2023,전국,전국,51145884.5,25469181.0,25676703.5,1380804.5,2050235.0,4670801.0,12857225.0,16534366.0,16933406.5
1,2023,서울특별시,서울특별시,9334933.5,4517716.5,4817217.0,220265.5,308678.0,739051.5,2785782.5,2895349.0,2908352.5
2,2023,서울특별시,강남구,529711.5,253227.5,276484.0,11753.0,20850.0,60724.5,143489.0,178728.5,137498.5
3,2023,서울특별시,강동구,456583.5,223164.5,233419.0,13400.5,18305.0,38867.0,125691.5,143860.0,137049.0
4,2023,서울특별시,강북구,288656.5,139838.5,148818.0,4806.0,7356.5,19546.5,74110.0,90358.0,114242.5
...,...,...,...,...,...,...,...,...,...,...,...,...
257,2023,경상남도,함양군,37201.5,18030.5,19171.0,521.5,930.5,2717.0,4704.5,10265.0,25112.5
258,2023,경상남도,합천군,41385.5,20184.0,21201.5,518.5,724.0,2178.0,4536.0,10465.5,32352.0
259,2023,제주특별자치도,제주특별자치도,673099.0,336907.5,336191.5,20624.5,32454.5,70610.0,154191.0,226001.0,215575.5
260,2023,제주특별자치도,서귀포시,183240.5,92241.5,90999.0,4893.5,8317.0,17711.5,35945.0,61542.0,70891.5
261,2023,제주특별자치도,제주시,489858.5,244666.0,245192.5,15731.0,24137.5,52898.5,118246.0,164459.0,144684.0

In [55]:
cctv_raw = pd.read_csv("../../data/1.raw/additional/8_전국 지자체 통합관제센터 CCTV 운영현황.csv")
cctv_raw

,연번,시도,시군구,CCTV,연번.1,시도.1,시군구.1,CCTV.1,연번.2,시도.2,시군구.2,CCTV.2
0,1.0,서울,시청\n(CCTV 안전센터),957,74.0,경기,안산시,"8,999",145.0,전북,완주군,"1,279"
1,2.0,NaN,종로구,"2,339",75.0,NaN,고양시,"9,451",146.0,NaN,진안군,697
2,3.0,NaN,중 구,"3,118",76.0,NaN,과천시,"1,346",147.0,NaN,무주군,909
3,4.0,NaN,용산구,"3,609",77.0,NaN,구리시,"2,940",148.0,NaN,장수군,"1,015"
4,5.0,NaN,성동구,"4,638",78.0,NaN,남양주시,"7,867",149.0,NaN,임실군,786
...,...,...,...,...,...,...,...,...,...,...,...,...
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
one_raw = pd.read_csv("../../data/1.raw/additional/9_1인가구비율_시도_시_군_구_2023.csv", encoding="cp949")
one_raw

       행정구역별                     2023            2023.1            2023.2
0      행정구역별  1인가구비율<br>(A÷B×100) (%)  1인가구<br>(A) (가구)  일반가구<br>(B) (가구)
1      서울특별시                     39.3           1627480           4141659
2        종로구                     45.5             29334             64507
3         중구                     47.7             28293             59265
4        용산구                     43.2             42482             98322
..       ...                      ...               ...               ...
241      거창군                     38.1             10337             27105
242      합천군                     44.4              9042             20347
243  제주특별자치도                     33.7             93739            278315
244      제주시                     33.5             67704            202367
245     서귀포시                     34.3             26035             75948

[246 rows x 4 columns]

In [65]:
police_raw = pd.read_csv("../../data/1.raw/additional/10_경찰청_전국 경찰서 명칭 및 주소_20230627.csv", encoding="cp949")
police_raw

          시도경찰청           위치     경찰서명칭            경찰서주소
0      서울특별시경찰청        서울특별시   서울중부경찰서        중구 수표로 27
1      서울특별시경찰청        서울특별시   서울종로경찰서       종로구 율곡로 46
2      서울특별시경찰청        서울특별시  서울남대문경찰서      중구 한강대로 410
3      서울특별시경찰청        서울특별시  서울서대문경찰서     서대문구 통일로 113
4      서울특별시경찰청        서울특별시   서울혜화경찰서  종로구 창경궁로 112-16
..          ...          ...       ...              ...
254     경상남도경찰청     경상남도 창원시     함안경찰서   함안군 가야읍 가야로 85
255     경상남도경찰청     경상남도 창원시     의령경찰서   의령군 의령읍 충익로 53
256  제주특별자치도경찰청  제주특별자치도 제주시   제주동부경찰서       제주시 동광로 66
257  제주특별자치도경찰청  제주특별자치도 제주시   제주서부경찰서  제주시 애월읍 애조로 215
258  제주특별자치도경찰청  제주특별자치도 제주시    서귀포경찰서      서귀포시 신중로 27

[259 rows x 4 columns]

### **2. CCTV 개수 데이터 지역별 정리**

In [60]:
# 1) wide → long 변환 (연번/시도/시군구/CCTV 세트 3개를 세로로 붙이기)
blocks = []
for suffix in ["", ".1", ".2"]:
    cols = [f"연번{suffix}", f"시도{suffix}", f"시군구{suffix}", f"CCTV{suffix}"]
    sub = cctv_raw[cols].copy()
    sub.columns = ["연번", "시도", "시군구", "CCTV"]
    blocks.append(sub)

cctv_long = pd.concat(blocks, ignore_index=True)

# 2) 시도 결측치 채우기 + 필요 행만 남기기
cctv_long["시도"] = cctv_long["시도"].ffill()
cctv_long = cctv_long.dropna(subset=["시군구", "CCTV"])

# 3) 제주 "도 통합관제" 행에서 CCTV 합계만 따로 뽑아두기 (나중에 전체 제주에 쓰기)
jeju_mask = (
    (cctv_long["시도"] == "제주")
    & cctv_long["시군구"].astype(str).str.contains("통합", regex=False)
)
jeju_total = (
    cctv_long.loc[jeju_mask, "CCTV"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .astype(int)
    .sum()
)

# 4) 문자열 정리 + 숫자형 변환
c = cctv_long.copy()

c["시군구"] = (
    c["시군구"].astype(str)
    .str.replace("\n", "", regex=False)
    .str.replace(" ", "", regex=False)
    .str.strip()
)
c["시도"] = c["시도"].astype(str).str.strip()

c["CCTV"] = (
    c["CCTV"].astype(str)
    .str.replace(",", "", regex=False)
    .str.strip()
)
c = c[c["CCTV"] != ""]
c["CCTV"] = c["CCTV"].astype(int)

# 5) 시청/통합관제 행들은 시군구 단위 분석에서 애매하니까 제거
#    (제주는 이미 3번에서 값 빼놨으니 같이 지워져도 괜찮음)
mask_drop = c["시군구"].str.contains("통합관제|시청", regex=True)
c = c[~mask_drop].copy()

# 6) 시도 이름을 processed1의 '행정구역(시)' 형식으로 매핑
sido_map = {
    "서울": "서울특별시",
    "부산": "부산광역시",
    "대구": "대구광역시",
    "인천": "인천광역시",
    "광주": "광주광역시",
    "대전": "대전광역시",
    "울산": "울산광역시",
    "세종": "세종특별자치시",
    "경기": "경기도",
    "강원": "강원도",
    "충북": "충청북도",
    "충남": "충청남도",
    "전북": "전라북도",
    "전남": "전라남도",
    "경북": "경상북도",
    "경남": "경상남도",
    "제주": "제주특별자치도",
}

c["행정구역(시)"] = c["시도"].map(sido_map)
c["행정구역(시군구)별"] = c["시군구"]

# 7) 시군구별 CCTV 합계
cctv_grouped = (
    c.groupby(["행정구역(시)", "행정구역(시군구)별"], as_index=False)["CCTV"]
    .sum()
)

# 8) 제주 전체 행 추가 (행정구역(시) = 행정구역(시군구)별 = '제주특별자치도')
jeju_row = pd.DataFrame({
    "행정구역(시)": ["제주특별자치도"],
    "행정구역(시군구)별": ["제주특별자치도"],
    "CCTV": [jeju_total],
})
cctv_df = pd.concat([cctv_grouped, jeju_row], ignore_index=True)

# 9) 시 전체(서울특별시·부산광역시 …) 합계 행 추가
city_totals = cctv_df.groupby("행정구역(시)", as_index=False)["CCTV"].sum()
city_totals["행정구역(시군구)별"] = city_totals["행정구역(시)"]
city_totals = city_totals[["행정구역(시)", "행정구역(시군구)별", "CCTV"]]

#    전국 합계 행도 추가
nation_total = pd.DataFrame({
    "행정구역(시)": ["전국"],
    "행정구역(시군구)별": ["전국"],
    "CCTV": [city_totals["CCTV"].sum()],
})

cctv_df = pd.concat([cctv_df, city_totals, nation_total], ignore_index=True)

# 10) (제주 같은) 완전 동일 키 중복은 하나만 남기기
cctv_df = cctv_df.drop_duplicates(
    subset=["행정구역(시)", "행정구역(시군구)별"],
    keep="first"
).reset_index(drop=True)

# 11) 시/구 정렬 (전에 쓰던 target_values 그대로 사용)
target_values = [
    '전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시',
    '광주광역시', '대전광역시', '울산광역시',
    '세종특별자치시',
    '경기도',
    '강원도', '충청북도',
    '충청남도', '전라북도', '전라남도',
    '경상북도', '경상남도', '제주특별자치도'
]
city_order_map = {city: i for i, city in enumerate(target_values)}

cctv_df["시_순서"] = cctv_df["행정구역(시)"].map(city_order_map).fillna(len(target_values))
cctv_df["is_total"] = (cctv_df["행정구역(시)"] == cctv_df["행정구역(시군구)별"]).astype(int)

cctv_df = cctv_df.sort_values(
    by=["시_순서", "is_total", "행정구역(시군구)별"],
    ascending=[True, False, True]
).reset_index(drop=True)

cctv_df = cctv_df.drop(columns=["시_순서", "is_total"])

# 확인용
print(cctv_df[cctv_df["행정구역(시군구)별"].isin(["서울특별시", "제주특별자치도", "전국"])])
print(cctv_df.shape)

     행정구역(시) 행정구역(시군구)별    CCTV
0         전국         전국  614563
1      서울특별시      서울특별시  113557
225  제주특별자치도    제주특별자치도   16013
(226, 3)

In [61]:
cctv_df

     행정구역(시) 행정구역(시군구)별    CCTV
0         전국         전국  614563
1      서울특별시      서울특별시  113557
2      서울특별시        강남구    8344
3      서울특별시        강동구    4238
4      서울특별시        강북구    3584
..       ...        ...     ...
221     경상남도        하동군    1016
222     경상남도        함안군    1441
223     경상남도        함양군    1051
224     경상남도        합천군    1100
225  제주특별자치도    제주특별자치도   16013

[226 rows x 3 columns]

In [62]:
area_df = area_df.merge(
    cctv_df,
    on=["행정구역(시)", "행정구역(시군구)별"],
    how="left"
)

In [63]:
area_df

,시점,행정구역(시),행정구역(시군구)별,총인구수,남자인구수,여자인구수,영아기,아동기,청소년기,청년기,중년기,노년기,CCTV
0,2023,전국,전국,51145884.5,25469181.0,25676703.5,1380804.5,2050235.0,4670801.0,12857225.0,16534366.0,16933406.5,614563.0
1,2023,서울특별시,서울특별시,9334933.5,4517716.5,4817217.0,220265.5,308678.0,739051.5,2785782.5,2895349.0,2908352.5,113557.0
2,2023,서울특별시,강남구,529711.5,253227.5,276484.0,11753.0,20850.0,60724.5,143489.0,178728.5,137498.5,8344.0
3,2023,서울특별시,강동구,456583.5,223164.5,233419.0,13400.5,18305.0,38867.0,125691.5,143860.0,137049.0,4238.0
4,2023,서울특별시,강북구,288656.5,139838.5,148818.0,4806.0,7356.5,19546.5,74110.0,90358.0,114242.5,3584.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,2023,경상남도,함양군,37201.5,18030.5,19171.0,521.5,930.5,2717.0,4704.5,10265.0,25112.5,1051.0
258,2023,경상남도,합천군,41385.5,20184.0,21201.5,518.5,724.0,2178.0,4536.0,10465.5,32352.0,1100.0
259,2023,제주특별자치도,제주특별자치도,673099.0,336907.5,336191.5,20624.5,32454.5,70610.0,154191.0,226001.0,215575.5,16013.0
260,2023,제주특별자치도,서귀포시,183240.5,92241.5,90999.0,4893.5,8317.0,17711.5,35945.0,61542.0,70891.5,NaN
261,2023,제주특별자치도,제주시,489858.5,244666.0,245192.5,15731.0,24137.5,52898.5,118246.0,164459.0,144684.0,NaN

### **3. 1인가구 비율 데이터 지역 별 정리**

In [66]:
one_raw = one_raw[['행정구역별', '2023']].copy()
one_raw = one_raw.rename(columns={'2023': '1인가구비율'})


# 3) 시도 리스트 정의
target_values = ['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', 
                '광주광역시', '대전광역시', '울산광역시', 
                '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도',
                '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도']


# 4) 행정구역(시) 생성 (각 구는 바로 위 행정구역을 상속)
one_raw["행정구역(시)"] = None
current_city = None

for idx, val in one_raw["행정구역별"].items():
    if val in target_values:
        current_city = val
    one_raw.at[idx, "행정구역(시)"] = current_city


# 5) 행정구역(시군구)별 이름 생성
# (시 자체 행은 시 이름 그대로 들어감 → processed1과 merge 시 문제 없음)
one_raw["행정구역(시군구)별"] = one_raw["행정구역별"].str.replace(" ", "")

# 6) 1인가구비율을 float로 변환 (숫자만 남기고 나머지는 제거)
one_raw['1인가구비율'] = (
    one_raw['1인가구비율']
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.replace(r"[^0-9\.]", "", regex=True)   # 숫자와 .만 남기기
    .str.strip()
)

# 빈 문자열(즉 변환 불가능한 텍스트였던 행) 제거
one_raw = one_raw[one_raw['1인가구비율'] != ""]

# float 변환
one_raw['1인가구비율'] = one_raw['1인가구비율'].astype(float)


# 7) 필요한 컬럼만 최종 정리
one_person_df = one_raw[['행정구역(시)', '행정구역(시군구)별', '1인가구비율']].copy()

one_person_df = one_person_df.iloc[1:].reset_index(drop=True)

print(one_person_df.head())
print(one_person_df.shape)

  행정구역(시) 행정구역(시군구)별  1인가구비율
0   서울특별시      서울특별시    39.3
1   서울특별시        종로구    45.5
2   서울특별시         중구    47.7
3   서울특별시        용산구    43.2
4   서울특별시        성동구    39.1
(245, 3)

In [67]:
area_df = area_df.merge(
    one_person_df,
    on=["행정구역(시)", "행정구역(시군구)별"],
    how="left"
)
area_df

,시점,행정구역(시),행정구역(시군구)별,총인구수,남자인구수,여자인구수,영아기,아동기,청소년기,청년기,중년기,노년기,CCTV,1인가구비율
0,2023,전국,전국,51145884.5,25469181.0,25676703.5,1380804.5,2050235.0,4670801.0,12857225.0,16534366.0,16933406.5,614563.0,NaN
1,2023,서울특별시,서울특별시,9334933.5,4517716.5,4817217.0,220265.5,308678.0,739051.5,2785782.5,2895349.0,2908352.5,113557.0,39.3
2,2023,서울특별시,강남구,529711.5,253227.5,276484.0,11753.0,20850.0,60724.5,143489.0,178728.5,137498.5,8344.0,35.1
3,2023,서울특별시,강동구,456583.5,223164.5,233419.0,13400.5,18305.0,38867.0,125691.5,143860.0,137049.0,4238.0,33.2
4,2023,서울특별시,강북구,288656.5,139838.5,148818.0,4806.0,7356.5,19546.5,74110.0,90358.0,114242.5,3584.0,40.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,2023,경상남도,함양군,37201.5,18030.5,19171.0,521.5,930.5,2717.0,4704.5,10265.0,25112.5,1051.0,41.1
258,2023,경상남도,합천군,41385.5,20184.0,21201.5,518.5,724.0,2178.0,4536.0,10465.5,32352.0,1100.0,44.4
259,2023,제주특별자치도,제주특별자치도,673099.0,336907.5,336191.5,20624.5,32454.5,70610.0,154191.0,226001.0,215575.5,16013.0,33.7
260,2023,제주특별자치도,서귀포시,183240.5,92241.5,90999.0,4893.5,8317.0,17711.5,35945.0,61542.0,70891.5,NaN,34.3
261,2023,제주특별자치도,제주시,489858.5,244666.0,245192.5,15731.0,24137.5,52898.5,118246.0,164459.0,144684.0,NaN,33.5

### **4. 경찰서 수 데이터 지역 별 정리**

In [68]:
target_values = [
    '전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시',
    '광주광역시', '대전광역시', '울산광역시',
    '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도',
    '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도'
]

def extract_sido_from_loc(loc):
    """위치 컬럼에서 시/도 이름 추출 (예: '서울특별시청' -> '서울특별시')"""
    loc = str(loc).strip()
    for s in target_values:
        if s.replace(" ", "") in loc.replace(" ", ""):
            return s
    # 그래도 못 찾으면 공백 기준 첫 토큰 (백업 플랜)
    return loc.split()[0] if loc else loc

police_raw["행정구역(시)"] = police_raw["위치"].apply(extract_sido_from_loc)

# -----------------------------
# 2. 행정구역(시군구)별 만들기: '경찰서주소'에서 구/군/시 추출
# -----------------------------
# 예:
#  - "중구 수표로 27"        -> "중구"
#  - "강 남 구 테헤란로..."   -> "강남구"
#  - "제주시 연북로 123"     -> "제주시"
addr_clean = (
    police_raw["경찰서주소"]
    .astype(str)
    .str.replace(" ", "", regex=False)   # "강 남 구" -> "강남구"
)

sgg = addr_clean.str.extract(r'^(?P<sgg>.+?[구군시])')["sgg"]
police_raw["행정구역(시군구)별"] = sgg

# -----------------------------
# 3. 결측/이상치 제거 후 .copy()로 경고 방지
# -----------------------------
police_raw = police_raw.dropna(subset=["행정구역(시)", "행정구역(시군구)별"]).copy()

# 공백 제거
police_raw["행정구역(시)"] = police_raw["행정구역(시)"].str.replace(" ", "", regex=False)
police_raw["행정구역(시군구)별"] = police_raw["행정구역(시군구)별"].str.replace(" ", "", regex=False)

# -----------------------------
# 4. 시·구별 경찰서 개수 집계
# -----------------------------
police_count = (
    police_raw
    .groupby(["행정구역(시)", "행정구역(시군구)별"], as_index=False)
    .size()
    .rename(columns={"size": "경찰서수"})
)

# -----------------------------
# 5. 행정구역(시) 이름을 target_values 기준으로 자동 매핑
#    (강원특별자치도 -> 강원도, 전북특별자치도 -> 전라북도 등)
# -----------------------------
def map_to_target(city_name):
    city_name = str(city_name)
    # 1) target_values에 포함된 이름이 부분 일치하면 그걸 사용
    for t in target_values:
        if t.replace(" ", "") in city_name.replace(" ", ""):
            return t
    # 2) 앞 두 글자로 시작하는 것 찾아보기 (충북 -> 충청북도)
    short = city_name[:2]
    for t in target_values:
        if t.startswith(short):
            return t
    # 3) 그래도 못 찾으면 원래 값 반환
    return city_name

police_count["행정구역(시)"] = police_count["행정구역(시)"].apply(map_to_target)

# 최종 결과 확인
print(police_count.head())
print(police_count.shape)

  행정구역(시) 행정구역(시군구)별  경찰서수
0     강원도        강릉시     1
1     강원도        고성군     1
2     강원도        동해시     1
3     강원도        삼척시     1
4     강원도        속초시     1
(223, 3)

In [70]:
# -----------------------------
# ⭐ 행정구역(시) 전체 합계 행 추가
#   (서울특별시 / 서울특별시, 부산광역시 / 부산광역시 …)
# -----------------------------

# 1) 시 단위로 경찰서수 합계 구하기
city_totals = (
    police_count
    .groupby("행정구역(시)", as_index=False)["경찰서수"]
    .sum()
)

# 2) 시 전체 행은 "행정구역(시군구)별" 도 시 이름으로 맞춰주기
city_totals["행정구역(시군구)별"] = city_totals["행정구역(시)"]

# 3) 원래 시군구 단위 행 + 시 전체 합계 행 합치기
police_count = pd.concat([police_count, city_totals], ignore_index=True)

# 4) 혹시 같은 키가 중복됐으면 하나만 남기기 (안전용)
police_count = (
    police_count
    .drop_duplicates(subset=["행정구역(시)", "행정구역(시군구)별"], keep="first")
    .reset_index(drop=True)
)

In [72]:
police_count

     행정구역(시) 행정구역(시군구)별  경찰서수
0        강원도        강릉시     1
1        강원도        고성군     1
2        강원도        동해시     1
3        강원도        삼척시     1
4        강원도        속초시     1
..       ...        ...   ...
235     전라남도       전라남도    22
236     전라북도       전라북도    15
237  제주특별자치도    제주특별자치도     3
238     충청남도       충청남도    15
239     충청북도       충청북도    12

[240 rows x 3 columns]

In [73]:
area_df = area_df.merge(
    police_count,
    on=["행정구역(시)", "행정구역(시군구)별"],
    how="left"
)

In [74]:
area_df

,시점,행정구역(시),행정구역(시군구)별,총인구수,남자인구수,여자인구수,영아기,아동기,청소년기,청년기,중년기,노년기,CCTV,1인가구비율,경찰서수
0,2023,전국,전국,51145884.5,25469181.0,25676703.5,1380804.5,2050235.0,4670801.0,12857225.0,16534366.0,16933406.5,614563.0,NaN,NaN
1,2023,서울특별시,서울특별시,9334933.5,4517716.5,4817217.0,220265.5,308678.0,739051.5,2785782.5,2895349.0,2908352.5,113557.0,39.3,31.0
2,2023,서울특별시,강남구,529711.5,253227.5,276484.0,11753.0,20850.0,60724.5,143489.0,178728.5,137498.5,8344.0,35.1,2.0
3,2023,서울특별시,강동구,456583.5,223164.5,233419.0,13400.5,18305.0,38867.0,125691.5,143860.0,137049.0,4238.0,33.2,1.0
4,2023,서울특별시,강북구,288656.5,139838.5,148818.0,4806.0,7356.5,19546.5,74110.0,90358.0,114242.5,3584.0,40.1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,2023,경상남도,함양군,37201.5,18030.5,19171.0,521.5,930.5,2717.0,4704.5,10265.0,25112.5,1051.0,41.1,1.0
258,2023,경상남도,합천군,41385.5,20184.0,21201.5,518.5,724.0,2178.0,4536.0,10465.5,32352.0,1100.0,44.4,1.0
259,2023,제주특별자치도,제주특별자치도,673099.0,336907.5,336191.5,20624.5,32454.5,70610.0,154191.0,226001.0,215575.5,16013.0,33.7,3.0
260,2023,제주특별자치도,서귀포시,183240.5,92241.5,90999.0,4893.5,8317.0,17711.5,35945.0,61542.0,70891.5,NaN,34.3,1.0
261,2023,제주특별자치도,제주시,489858.5,244666.0,245192.5,15731.0,24137.5,52898.5,118246.0,164459.0,144684.0,NaN,33.5,2.0

In [77]:
# 저장 경로 설정
save_path = "../../data/4.etc/processed_area_add_df.csv"

# CSV 저장
area_df.to_csv(save_path, index=False, encoding='UTF-8')

print("저장 완료:", save_path)

저장 완료: ../../data/4.etc/processed_area_add_df.csv