In [127]:
import pandas as pd
import os

### **1. 데이터 불러오기**

In [128]:
area_df = pd.read_csv('../../data/4.etc/processed1.csv')
area_df

,시점,행정구역(시),행정구역(시군구)별,총인구수,남자인구수,여자인구수,영아기,아동기,청소년기,청년기,중년기,노년기
0,2023,전국,전국,51145884.5,25469181.0,25676703.5,1380804.5,2050235.0,4670801.0,12857225.0,16534366.0,16933406.5
1,2023,서울특별시,서울특별시,9334933.5,4517716.5,4817217.0,220265.5,308678.0,739051.5,2785782.5,2895349.0,2908352.5
2,2023,서울특별시,강남구,529711.5,253227.5,276484.0,11753.0,20850.0,60724.5,143489.0,178728.5,137498.5
3,2023,서울특별시,강동구,456583.5,223164.5,233419.0,13400.5,18305.0,38867.0,125691.5,143860.0,137049.0
4,2023,서울특별시,강북구,288656.5,139838.5,148818.0,4806.0,7356.5,19546.5,74110.0,90358.0,114242.5
...,...,...,...,...,...,...,...,...,...,...,...,...
257,2023,경상남도,함양군,37201.5,18030.5,19171.0,521.5,930.5,2717.0,4704.5,10265.0,25112.5
258,2023,경상남도,합천군,41385.5,20184.0,21201.5,518.5,724.0,2178.0,4536.0,10465.5,32352.0
259,2023,제주특별자치도,제주특별자치도,673099.0,336907.5,336191.5,20624.5,32454.5,70610.0,154191.0,226001.0,215575.5
260,2023,제주특별자치도,서귀포시,183240.5,92241.5,90999.0,4893.5,8317.0,17711.5,35945.0,61542.0,70891.5
261,2023,제주특별자치도,제주시,489858.5,244666.0,245192.5,15731.0,24137.5,52898.5,118246.0,164459.0,144684.0

In [129]:
cctv_raw = pd.read_csv("../../data/1.raw/additional/8_전국 지자체 통합관제센터 CCTV 운영현황.csv")
cctv_raw

,연번,시도,시군구,CCTV,연번.1,시도.1,시군구.1,CCTV.1,연번.2,시도.2,시군구.2,CCTV.2
0,1.0,서울,시청\n(CCTV 안전센터),957,74.0,경기,안산시,"8,999",145.0,전북,완주군,"1,279"
1,2.0,NaN,종로구,"2,339",75.0,NaN,고양시,"9,451",146.0,NaN,진안군,697
2,3.0,NaN,중 구,"3,118",76.0,NaN,과천시,"1,346",147.0,NaN,무주군,909
3,4.0,NaN,용산구,"3,609",77.0,NaN,구리시,"2,940",148.0,NaN,장수군,"1,015"
4,5.0,NaN,성동구,"4,638",78.0,NaN,남양주시,"7,867",149.0,NaN,임실군,786
...,...,...,...,...,...,...,...,...,...,...,...,...
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
one_raw = pd.read_csv("../../data/1.raw/additional/9_1인가구비율_시도_시_군_구_2023.csv", encoding="cp949")
one_raw

       행정구역별                     2023            2023.1            2023.2
0      행정구역별  1인가구비율<br>(A÷B×100) (%)  1인가구<br>(A) (가구)  일반가구<br>(B) (가구)
1      서울특별시                     39.3           1627480           4141659
2        종로구                     45.5             29334             64507
3         중구                     47.7             28293             59265
4        용산구                     43.2             42482             98322
..       ...                      ...               ...               ...
241      거창군                     38.1             10337             27105
242      합천군                     44.4              9042             20347
243  제주특별자치도                     33.7             93739            278315
244      제주시                     33.5             67704            202367
245     서귀포시                     34.3             26035             75948

[246 rows x 4 columns]

In [131]:
police_raw = pd.read_csv("../../data/1.raw/additional/10_경찰청_전국 경찰서 명칭 및 주소_20230627.csv", encoding="cp949")
police_raw

          시도경찰청           위치     경찰서명칭            경찰서주소
0      서울특별시경찰청        서울특별시   서울중부경찰서        중구 수표로 27
1      서울특별시경찰청        서울특별시   서울종로경찰서       종로구 율곡로 46
2      서울특별시경찰청        서울특별시  서울남대문경찰서      중구 한강대로 410
3      서울특별시경찰청        서울특별시  서울서대문경찰서     서대문구 통일로 113
4      서울특별시경찰청        서울특별시   서울혜화경찰서  종로구 창경궁로 112-16
..          ...          ...       ...              ...
254     경상남도경찰청     경상남도 창원시     함안경찰서   함안군 가야읍 가야로 85
255     경상남도경찰청     경상남도 창원시     의령경찰서   의령군 의령읍 충익로 53
256  제주특별자치도경찰청  제주특별자치도 제주시   제주동부경찰서       제주시 동광로 66
257  제주특별자치도경찰청  제주특별자치도 제주시   제주서부경찰서  제주시 애월읍 애조로 215
258  제주특별자치도경찰청  제주특별자치도 제주시    서귀포경찰서      서귀포시 신중로 27

[259 rows x 4 columns]

### **2. CCTV 개수 데이터 지역별 정리**

In [132]:
##### 수정

# ------------------------------------------------
# 공통: 시도 이름 정규화 함수 (강원특별자치도 → 강원도 등)
# ------------------------------------------------
target_values = [
    '전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시',
    '광주광역시', '대전광역시', '울산광역시',
    '세종특별자치시',
    '경기도',
    '강원도', '충청북도',
    '충청남도', '전라북도', '전라남도',
    '경상북도', '경상남도', '제주특별자치도'
]

# 새 이름 → 우리가 쓰는 표준 이름
sido_alias = {
    "강원특별자치도": "강원도",
    "전북특별자치도": "전라북도",
}

# 앞글자 기준으로 잡는 prefix
sido_prefix = {
    "서울": "서울특별시",
    "부산": "부산광역시",
    "대구": "대구광역시",
    "인천": "인천광역시",
    "광주": "광주광역시",
    "대전": "대전광역시",
    "울산": "울산광역시",
    "세종": "세종특별자치시",
    "경기": "경기도",
    "강원": "강원도",
    "충북": "충청북도",
    "충남": "충청남도",
    "전북": "전라북도",
    "전남": "전라남도",
    "경북": "경상북도",
    "경남": "경상남도",
    "제주": "제주특별자치도",
}

In [133]:
def normalize_sido(raw):
    raw = str(raw).replace(" ", "").strip()

    # 1) alias
    for alias, canon in sido_alias.items():
        if alias.replace(" ", "") in raw:
            return canon

    # 2) 이미 우리가 쓰는 이름이면
    for city in target_values:
        if city.replace(" ", "") == raw:
            return city

    # 3) 접두어 매핑
    for key, val in sido_prefix.items():
        if raw.startswith(key):
            return val

    return raw

In [134]:
# wide → long (연번/시도/시군구/CCTV 세트 3개를 세로로)
blocks = []
for suffix in ["", ".1", ".2"]:
    cols = [f"연번{suffix}", f"시도{suffix}", f"시군구{suffix}", f"CCTV{suffix}"]
    sub = cctv_raw[cols].copy()
    sub.columns = ["연번", "시도", "시군구", "CCTV"]
    blocks.append(sub)

c_long = pd.concat(blocks, ignore_index=True)

# 시도 결측치 채우고, 시군구 / CCTV 없는 행 제거
c_long["시도"] = c_long["시도"].ffill()
c_long = c_long.dropna(subset=["시군구", "CCTV"])

# 문자열 정리
c_long["시군구"] = (
    c_long["시군구"].astype(str)
    .str.replace("\n", "", regex=False)
    .str.replace(" ", "", regex=False)
    .str.strip()
)
c_long["시도"] = c_long["시도"].astype(str).str.strip()

# CCTV 숫자형
c_long["CCTV"] = (
    c_long["CCTV"].astype(str)
    .str.replace(",", "", regex=False)
    .str.strip()
)
c_long = c_long[c_long["CCTV"] != ""]
c_long["CCTV"] = c_long["CCTV"].astype(int)

# ============================================
# 2. 행정구역(시) / 행정구역(시군구)별 생성
#    - "시통합관제", "도통합관제" 처럼 '통합'이 들어간 행은
#      → 해당 시 전체 합계로 취급
#      → 행정구역(시군구)별 = 행정구역(시)
# ============================================
c_long["행정구역(시)"] = c_long["시도"].apply(normalize_sido)
c_long["행정구역(시군구)별"] = c_long["시군구"]

# '통합'이 들어가면 시 전체로 매핑 (광주 시 통합관제, 대전 시 통합관제, 제주 도 통합관제 등)
mask_integration = c_long["시군구"].str.contains("통합", regex=False)
c_long.loc[mask_integration, "행정구역(시군구)별"] = c_long.loc[mask_integration, "행정구역(시)"]

# 시청만 따로 있는 행은 버리기 (단, '통합'이 같이 들어간 건 이미 위에서 처리)
mask_drop = c_long["시군구"].str.contains("시청", regex=False) & ~mask_integration
c_long = c_long[~mask_drop].copy()

# ============================================
# 3. 시·군·구별 CCTV 집계
# ============================================
cctv_grouped = (
    c_long
    .groupby(["행정구역(시)", "행정구역(시군구)별"], as_index=False)["CCTV"]
    .sum()
)

# ============================================
# 4. 시 전체 합계 행 추가 (없는 시만 추가)
# ============================================

# (1) 이미 "시 전체 행"이 있는 경우 찾아놓기
#     예: 서울 / 서울특별시
existing_city_keys = {
    (row["행정구역(시)"], row["행정구역(시군구)별"])
    for _, row in cctv_grouped.iterrows()
    if row["행정구역(시)"] == row["행정구역(시군구)별"]
}

# (2) 시군구별 데이터를 시 기준으로 합계 만들기
city_totals = (
    cctv_grouped
    .groupby("행정구역(시)", as_index=False)["CCTV"]
    .sum()
)

# (3) 시전체 행 키 만들기
city_totals["행정구역(시군구)별"] = city_totals["행정구역(시)"]

# (4) 튜플 키 컬럼 생성 (비교용)
city_totals["key"] = list(zip(city_totals["행정구역(시)"], city_totals["행정구역(시군구)별"]))

# (5) 이미 존재하는 (시, 시) 키는 제외하고 추가할 시만 남기기
city_totals = city_totals[~city_totals["key"].isin(existing_city_keys)].copy()

# (6) key 컬럼 제거
city_totals = city_totals.drop(columns=["key"])

# (7) city_totals를 원본과 병합
cctv_df = pd.concat([cctv_grouped, city_totals], ignore_index=True)

# ============================================
# 5. 정렬 (전국 → 서울특별시 → … → 제주특별자치도, 각 시 안에서 합계 먼저)
# ============================================
city_order_map = {city: i for i, city in enumerate(target_values)}
cctv_df["시_순서"] = cctv_df["행정구역(시)"].map(city_order_map).fillna(len(target_values))
cctv_df["is_total"] = (cctv_df["행정구역(시)"] == cctv_df["행정구역(시군구)별"]).astype(int)

cctv_df = cctv_df.sort_values(
    by=["시_순서", "is_total", "행정구역(시군구)별"],
    ascending=[True, False, True]
).reset_index(drop=True)

cctv_df = cctv_df.drop(columns=["시_순서", "is_total"])

print(cctv_df[cctv_df["행정구역(시)"].isin(["광주광역시", "대전광역시", "제주특별자치도"])])
print(cctv_df.shape)

     행정구역(시) 행정구역(시군구)별   CCTV
59     광주광역시      광주광역시  10972
60     대전광역시      대전광역시   8907
227  제주특별자치도    제주특별자치도  16013
(228, 3)

In [135]:
cctv_df[cctv_df['행정구역(시)']== '세종특별자치시']

    행정구역(시) 행정구역(시군구)별  CCTV
67  세종특별자치시    세종특별자치시  4267

In [136]:
area_df = area_df.merge(
    cctv_df,
    on=["행정구역(시)", "행정구역(시군구)별"],
    how="left"
)

In [137]:
area_df

,시점,행정구역(시),행정구역(시군구)별,총인구수,남자인구수,여자인구수,영아기,아동기,청소년기,청년기,중년기,노년기,CCTV
0,2023,전국,전국,51145884.5,25469181.0,25676703.5,1380804.5,2050235.0,4670801.0,12857225.0,16534366.0,16933406.5,NaN
1,2023,서울특별시,서울특별시,9334933.5,4517716.5,4817217.0,220265.5,308678.0,739051.5,2785782.5,2895349.0,2908352.5,113557.0
2,2023,서울특별시,강남구,529711.5,253227.5,276484.0,11753.0,20850.0,60724.5,143489.0,178728.5,137498.5,8344.0
3,2023,서울특별시,강동구,456583.5,223164.5,233419.0,13400.5,18305.0,38867.0,125691.5,143860.0,137049.0,4238.0
4,2023,서울특별시,강북구,288656.5,139838.5,148818.0,4806.0,7356.5,19546.5,74110.0,90358.0,114242.5,3584.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,2023,경상남도,함양군,37201.5,18030.5,19171.0,521.5,930.5,2717.0,4704.5,10265.0,25112.5,1051.0
258,2023,경상남도,합천군,41385.5,20184.0,21201.5,518.5,724.0,2178.0,4536.0,10465.5,32352.0,1100.0
259,2023,제주특별자치도,제주특별자치도,673099.0,336907.5,336191.5,20624.5,32454.5,70610.0,154191.0,226001.0,215575.5,16013.0
260,2023,제주특별자치도,서귀포시,183240.5,92241.5,90999.0,4893.5,8317.0,17711.5,35945.0,61542.0,70891.5,NaN
261,2023,제주특별자치도,제주시,489858.5,244666.0,245192.5,15731.0,24137.5,52898.5,118246.0,164459.0,144684.0,NaN

### **3. 1인가구 비율 데이터 지역 별 정리**

In [138]:
# -----------------------------------------------------------
# 1) 원본 정리
# -----------------------------------------------------------
one_raw = one_raw[['행정구역별', '2023']].copy()
one_raw = one_raw.rename(columns={'2023': '1인가구비율'})

# -----------------------------------------------------------
# 2) 행정구역(시) 생성(시도 표준화 적용)
# -----------------------------------------------------------
one_raw["행정구역(시)"] = None
current_city = None

for idx, raw in one_raw["행정구역별"].items():
    std = normalize_sido(raw)         # 강원특별자치도 → 강원도 등
    if std in target_values:          # 표준 시도명이라면
        current_city = std
    one_raw.at[idx, "행정구역(시)"] = current_city

# -----------------------------------------------------------
# 3) 행정구역(시군구)별 생성
# -----------------------------------------------------------
one_raw["행정구역(시군구)별"] = (
    one_raw["행정구역별"]
    .astype(str)
    .str.replace(" ", "", regex=False)
)

# -----------------------------------------------------------
# 4) 숫자 변환
# -----------------------------------------------------------
one_raw['1인가구비율'] = (
    one_raw['1인가구비율']
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.replace(r"[^0-9\.]", "", regex=True)
    .str.strip()
)

one_raw = one_raw[one_raw['1인가구비율'] != ""]
one_raw['1인가구비율'] = one_raw['1인가구비율'].astype(float)

# -----------------------------------------------------------
# 5) 최종 정리
# -----------------------------------------------------------
one_person_df = one_raw[['행정구역(시)', '행정구역(시군구)별', '1인가구비율']].copy()
one_person_df = one_person_df.iloc[1:].reset_index(drop=True)

print(one_person_df.head())
print(one_person_df.shape)

  행정구역(시) 행정구역(시군구)별  1인가구비율
0   서울특별시      서울특별시    39.3
1   서울특별시        종로구    45.5
2   서울특별시         중구    47.7
3   서울특별시        용산구    43.2
4   서울특별시        성동구    39.1
(245, 3)

In [139]:
one_person_df[one_person_df['행정구역(시)']=='전라북도']

    행정구역(시) 행정구역(시군구)별  1인가구비율
162    전라북도    전북특별자치도    37.7
163    전라북도        전주시    36.9
164    전라북도        군산시    37.7
165    전라북도        익산시    38.0
166    전라북도        정읍시    38.3
167    전라북도        남원시    37.5
168    전라북도        김제시    38.0
169    전라북도        완주군    38.9
170    전라북도        진안군    38.1
171    전라북도        무주군    39.9
172    전라북도        장수군    38.2
173    전라북도        임실군    39.7
174    전라북도        순창군    37.6
175    전라북도        고창군    39.5
176    전라북도        부안군    38.5

In [140]:
area_df = area_df.merge(
    one_person_df,
    on=["행정구역(시)", "행정구역(시군구)별"],
    how="left"
)
area_df

,시점,행정구역(시),행정구역(시군구)별,총인구수,남자인구수,여자인구수,영아기,아동기,청소년기,청년기,중년기,노년기,CCTV,1인가구비율
0,2023,전국,전국,51145884.5,25469181.0,25676703.5,1380804.5,2050235.0,4670801.0,12857225.0,16534366.0,16933406.5,NaN,NaN
1,2023,서울특별시,서울특별시,9334933.5,4517716.5,4817217.0,220265.5,308678.0,739051.5,2785782.5,2895349.0,2908352.5,113557.0,39.3
2,2023,서울특별시,강남구,529711.5,253227.5,276484.0,11753.0,20850.0,60724.5,143489.0,178728.5,137498.5,8344.0,35.1
3,2023,서울특별시,강동구,456583.5,223164.5,233419.0,13400.5,18305.0,38867.0,125691.5,143860.0,137049.0,4238.0,33.2
4,2023,서울특별시,강북구,288656.5,139838.5,148818.0,4806.0,7356.5,19546.5,74110.0,90358.0,114242.5,3584.0,40.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,2023,경상남도,함양군,37201.5,18030.5,19171.0,521.5,930.5,2717.0,4704.5,10265.0,25112.5,1051.0,41.1
258,2023,경상남도,합천군,41385.5,20184.0,21201.5,518.5,724.0,2178.0,4536.0,10465.5,32352.0,1100.0,44.4
259,2023,제주특별자치도,제주특별자치도,673099.0,336907.5,336191.5,20624.5,32454.5,70610.0,154191.0,226001.0,215575.5,16013.0,33.7
260,2023,제주특별자치도,서귀포시,183240.5,92241.5,90999.0,4893.5,8317.0,17711.5,35945.0,61542.0,70891.5,NaN,34.3
261,2023,제주특별자치도,제주시,489858.5,244666.0,245192.5,15731.0,24137.5,52898.5,118246.0,164459.0,144684.0,NaN,33.5

### **4. 경찰서 수 데이터 지역 별 정리**

In [141]:
target_values = [
    '전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시',
    '광주광역시', '대전광역시', '울산광역시',
    '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도',
    '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도'
]

def extract_sido_from_loc(loc):
    """위치 컬럼에서 시/도 이름 추출 (예: '서울특별시청' -> '서울특별시')"""
    loc = str(loc).strip()
    for s in target_values:
        if s.replace(" ", "") in loc.replace(" ", ""):
            return s
    # 그래도 못 찾으면 공백 기준 첫 토큰 (백업 플랜)
    return loc.split()[0] if loc else loc

police_raw["행정구역(시)"] = police_raw["위치"].apply(extract_sido_from_loc)

# -----------------------------
# 2. 행정구역(시군구)별 만들기: '경찰서주소'에서 구/군/시 추출
# -----------------------------
# 예:
#  - "중구 수표로 27"        -> "중구"
#  - "강 남 구 테헤란로..."   -> "강남구"
#  - "제주시 연북로 123"     -> "제주시"
addr_clean = (
    police_raw["경찰서주소"]
    .astype(str)
    .str.replace(" ", "", regex=False)   # "강 남 구" -> "강남구"
)

sgg = addr_clean.str.extract(r'^(?P<sgg>.+?[구군시])')["sgg"]
police_raw["행정구역(시군구)별"] = sgg

# -----------------------------
# 3. 결측/이상치 제거 후 .copy()로 경고 방지
# -----------------------------
police_raw = police_raw.dropna(subset=["행정구역(시)", "행정구역(시군구)별"]).copy()

# 공백 제거
police_raw["행정구역(시)"] = police_raw["행정구역(시)"].str.replace(" ", "", regex=False)
police_raw["행정구역(시군구)별"] = police_raw["행정구역(시군구)별"].str.replace(" ", "", regex=False)

# -----------------------------
# 4. 시·구별 경찰서 개수 집계
# -----------------------------
police_count = (
    police_raw
    .groupby(["행정구역(시)", "행정구역(시군구)별"], as_index=False)
    .size()
    .rename(columns={"size": "경찰서수"})
)

# -----------------------------
# 5. 행정구역(시) 이름을 target_values 기준으로 자동 매핑
#    (강원특별자치도 -> 강원도, 전북특별자치도 -> 전라북도 등)
# -----------------------------
def map_to_target(city_name):
    city_name = str(city_name)
    # 1) target_values에 포함된 이름이 부분 일치하면 그걸 사용
    for t in target_values:
        if t.replace(" ", "") in city_name.replace(" ", ""):
            return t
    # 2) 앞 두 글자로 시작하는 것 찾아보기 (충북 -> 충청북도)
    short = city_name[:2]
    for t in target_values:
        if t.startswith(short):
            return t
    # 3) 그래도 못 찾으면 원래 값 반환
    return city_name

police_count["행정구역(시)"] = police_count["행정구역(시)"].apply(map_to_target)

# 최종 결과 확인
print(police_count.head())
print(police_count.shape)

  행정구역(시) 행정구역(시군구)별  경찰서수
0     강원도        강릉시     1
1     강원도        고성군     1
2     강원도        동해시     1
3     강원도        삼척시     1
4     강원도        속초시     1
(223, 3)

In [142]:
# -----------------------------
# ⭐ 행정구역(시) 전체 합계 행 추가
#   (서울특별시 / 서울특별시, 부산광역시 / 부산광역시 …)
# -----------------------------

# 1) 시 단위로 경찰서수 합계 구하기
city_totals = (
    police_count
    .groupby("행정구역(시)", as_index=False)["경찰서수"]
    .sum()
)

# 2) 시 전체 행은 "행정구역(시군구)별" 도 시 이름으로 맞춰주기
city_totals["행정구역(시군구)별"] = city_totals["행정구역(시)"]

# 3) 원래 시군구 단위 행 + 시 전체 합계 행 합치기
police_count = pd.concat([police_count, city_totals], ignore_index=True)

# 4) 혹시 같은 키가 중복됐으면 하나만 남기기 (안전용)
police_count = (
    police_count
    .drop_duplicates(subset=["행정구역(시)", "행정구역(시군구)별"], keep="first")
    .reset_index(drop=True)
)

In [143]:
police_count

     행정구역(시) 행정구역(시군구)별  경찰서수
0        강원도        강릉시     1
1        강원도        고성군     1
2        강원도        동해시     1
3        강원도        삼척시     1
4        강원도        속초시     1
..       ...        ...   ...
235     전라남도       전라남도    22
236     전라북도       전라북도    15
237  제주특별자치도    제주특별자치도     3
238     충청남도       충청남도    15
239     충청북도       충청북도    12

[240 rows x 3 columns]

In [144]:
area_df = area_df.merge(
    police_count,
    on=["행정구역(시)", "행정구역(시군구)별"],
    how="left"
)

In [145]:
area_df

,시점,행정구역(시),행정구역(시군구)별,총인구수,남자인구수,여자인구수,영아기,아동기,청소년기,청년기,중년기,노년기,CCTV,1인가구비율,경찰서수
0,2023,전국,전국,51145884.5,25469181.0,25676703.5,1380804.5,2050235.0,4670801.0,12857225.0,16534366.0,16933406.5,NaN,NaN,NaN
1,2023,서울특별시,서울특별시,9334933.5,4517716.5,4817217.0,220265.5,308678.0,739051.5,2785782.5,2895349.0,2908352.5,113557.0,39.3,31.0
2,2023,서울특별시,강남구,529711.5,253227.5,276484.0,11753.0,20850.0,60724.5,143489.0,178728.5,137498.5,8344.0,35.1,2.0
3,2023,서울특별시,강동구,456583.5,223164.5,233419.0,13400.5,18305.0,38867.0,125691.5,143860.0,137049.0,4238.0,33.2,1.0
4,2023,서울특별시,강북구,288656.5,139838.5,148818.0,4806.0,7356.5,19546.5,74110.0,90358.0,114242.5,3584.0,40.1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,2023,경상남도,함양군,37201.5,18030.5,19171.0,521.5,930.5,2717.0,4704.5,10265.0,25112.5,1051.0,41.1,1.0
258,2023,경상남도,합천군,41385.5,20184.0,21201.5,518.5,724.0,2178.0,4536.0,10465.5,32352.0,1100.0,44.4,1.0
259,2023,제주특별자치도,제주특별자치도,673099.0,336907.5,336191.5,20624.5,32454.5,70610.0,154191.0,226001.0,215575.5,16013.0,33.7,3.0
260,2023,제주특별자치도,서귀포시,183240.5,92241.5,90999.0,4893.5,8317.0,17711.5,35945.0,61542.0,70891.5,NaN,34.3,1.0
261,2023,제주특별자치도,제주시,489858.5,244666.0,245192.5,15731.0,24137.5,52898.5,118246.0,164459.0,144684.0,NaN,33.5,2.0

### **Na값 채우기** 
- 시 별 평균값

In [147]:
area_df.isna().sum()

시점             0
행정구역(시)        0
행정구역(시군구)별     0
총인구수           0
남자인구수          0
여자인구수          0
영아기            0
아동기            0
청소년기           0
청년기            0
중년기            0
노년기            0
CCTV          37
1인가구비율        27
경찰서수          26
dtype: int64

In [148]:
nan_locations = area_df[area_df.isna().any(axis=True)]
print(nan_locations)

       시점  행정구역(시) 행정구역(시군구)별        총인구수       남자인구수       여자인구수        영아기  \
0    2023       전국         전국  51145884.5  25469181.0  25676703.5  1380804.5
39   2023    부산광역시        수영구    173561.0     81488.5     92072.5     3928.0
45   2023    대구광역시        군위군     23109.5     11898.0     11211.5      286.5
46   2023    대구광역시         남구    139440.0     66646.5     72793.5     2447.5
47   2023    대구광역시        달서구    530809.5    260471.0    270338.5    12117.0
49   2023    대구광역시         동구    339814.5    166524.5    173290.0     9268.0
50   2023    대구광역시         북구    424040.0    210375.0    213665.0    10648.5
51   2023    대구광역시         서구    161046.5     79970.5     81076.0     2490.5
53   2023    대구광역시         중구     84029.5     40194.0     43835.5     2816.0
58   2023    인천광역시         동구     58959.0     29583.5     29375.5     1190.5
63   2023    인천광역시        옹진군     20410.5     11657.0      8753.5      350.0
66   2023    광주광역시        광산구    397801.0    200429.0    197372.0    12696.5
67   2023    광주광역시         남구    210508.0    100820.0    109688.0     5534.5
68   2023    광주광역시         동구    105751.0     52135.0     53616.0     3461.5
69   2023    광주광역시         북구    421862.0    208649.0    213213.0    12179.5
70   2023    광주광역시         서구    284640.0    139154.5    145485.5     6830.5
72   2023    대전광역시        대덕구    170597.0     86600.0     83997.0     3963.5
73   2023    대전광역시         동구    217792.5    109471.5    108321.0     5188.0
74   2023    대전광역시         서구    465772.5    228418.0    237354.5    12959.0
75   2023    대전광역시        유성구    360468.0    182426.5    178041.5    13681.5
76   2023    대전광역시         중구    224216.0    110049.5    114166.5     4873.0
84   2023  세종특별자치시        세종시    384276.5    191515.0    192761.5    18091.0
86   2023      경기도        가평군     61961.0     31967.5     29993.5     1153.5
90   2023      경기도        광주시    389863.5    198783.5    191080.0    12741.5
103  2023      경기도        양주시    254565.5    128623.0    125942.5     8425.5
104  2023      경기도        양평군    123169.0     61844.5     61324.5     2533.5
105  2023      경기도        여주시    113439.0     57659.0     55780.0     2604.5
106  2023      경기도        연천군     41595.5     21823.5     19772.0      944.5
114  2023      경기도        포천시    144364.0     76367.0     67997.0     2909.5
117  2023      강원도        강원도   1526763.0    767650.0    759113.0    39645.5
123  2023      강원도        양구군     21185.5     11122.0     10063.5      683.0
124  2023      강원도        양양군     27705.5     14163.0     13542.5      452.0
140  2023     충청북도        상당구    197999.5     98325.0     99674.5     6186.0
141  2023     충청북도        서원구    188167.0     93717.5     94449.5     4442.0
146  2023     충청북도        증평군     37259.0     19388.0     17871.0     1089.5
148  2023     충청북도        청원구    191824.0     98719.5     93104.5     6559.5
151  2023     충청북도        흥덕구    270459.5    137526.0    132933.5     9531.0
153  2023     충청남도        계룡시     45452.0     22670.5     22781.5     1333.0
158  2023     충청남도        동남구    255159.5    129228.5    125931.0     6619.0
161  2023     충청남도        서북구    399121.0    205575.0    193546.0    14614.5
170  2023     전라북도       전라북도   1757041.0    874075.5    882965.5    40571.5
175  2023     전라북도        덕진구    316499.0    157130.5    159368.5     9612.0
179  2023     전라북도        완산구    328899.0    159836.0    169063.0     7595.5
216  2023     경상북도         남구    226152.0    117218.5    108933.5     5308.5
219  2023     경상북도         북구    267127.0    132835.0    134292.0     7233.0
241  2023     경상남도      마산합포구    178475.0     88684.5     89790.5     4615.5
242  2023     경상남도      마산회원구    180875.0     90198.0     90677.0     3782.0
246  2023     경상남도        성산구    246160.5    125507.0    120653.5     6640.0
249  2023     경상남도        의창구    213826.0    108659.0    105167.0     5984.5
251  2023     경상남도        진해구    191966.5     98630.5     93336.0     5923.5
254  2023     경상남도      통합창원시   1011303.0    511679.0    499624.0    26945.5
260  2023  제주특별자치도       서귀포시    183240.5     92241.5     90999.0     4893.5
261  2023  제주특별자치도        제주시    489858.5    244666.0    245192.5    15731.0

           아동기       청소년기         청년기         중년기         노년기     CCTV  \
0    2050235.0  4670801.0  12857225.0  16534366.0  16933406.5      NaN
39      5290.0    11413.0     46057.5     50747.5     68778.0   1409.0
45       282.5      880.5      2472.0      5887.0     18067.5    804.0
46      3367.5     8594.0     34891.0     41413.5     62048.5      NaN
47     20942.5    51162.5    129296.5    178874.5    165916.5      NaN
49     13011.0    26225.5     80847.5    105878.5    129105.5      NaN
50     16945.5    40121.0    107105.5    142242.0    129874.5      NaN
51      4016.5     9637.0     34911.0     50220.5     72503.0      NaN
53      3407.5     5932.0     25404.5     24269.5     28334.5      NaN
58      1782.5     4670.5     12468.0     18636.0     25367.0   1003.0
63       404.0     1045.0      4319.5      5522.0     11132.0    559.0
66     20297.0    50098.5    106116.5    141359.0     81747.5      NaN
67      9706.5    22528.5     48967.0     65949.5     71954.0      NaN
68      4077.0     7474.5     28988.0     29939.5     40607.0      NaN
69     17442.0    40417.0    109890.5    135534.5    129838.0      NaN
70     11131.0    28583.5     75410.5     94153.0     84061.0      NaN
72      5441.0    14790.5     41497.0     56802.5     58533.5      NaN
73      7493.0    18939.5     53020.0     67519.5     81329.5      NaN
74     19655.5    46921.5    132650.0    149488.5    125765.5      NaN
75     18620.0    38210.5    108888.0    117004.5     76652.0      NaN
76      7566.5    20050.5     52285.0     71062.0     85803.0      NaN
84     26644.0    49839.5     98155.0    129507.0     76148.5      NaN
86      1678.5     4386.0     11194.5     18258.5     31986.5   1495.0
90     18015.0    34904.5     95583.5    135301.0    110325.5   5503.0
103    12020.0    25914.0     59997.5     84938.5     78110.5   5611.0
104     4017.5     9906.0     20362.0     37113.5     61650.5   2942.0
105     3789.0     9318.0     22507.5     35647.5     49870.5   3222.0
106     1228.0     2871.5      8589.0     11035.0     22134.5      NaN
114     4114.5    10874.0     30562.5     45911.0     62305.0   2873.0
117    53774.5   130475.0    325374.0    471897.5    641897.5  22991.0
123      820.0     1861.5      4866.5      5635.5      9472.5   1060.0
124      667.0     1723.5      4245.5      8206.0     16074.0    811.0
140     9092.0    19925.0     47927.5     64599.5     62578.0      NaN
141     6711.0    18466.0     48333.5     61029.5     60562.5      NaN
146     1614.0     3390.5      8851.0     11689.0     13396.0    827.0
148     9944.0    19763.5     53274.0     60748.0     51917.5      NaN
151    12742.0    26499.5     80905.5     87124.5     64844.0      NaN
153     2381.5     6276.0      9951.5     16159.5     11467.5    915.0
158    10182.5    25469.5     64377.0     84896.0     78707.0      NaN
161    20616.5    42216.5    124086.5    132410.0     78850.5      NaN
170    65841.5   165806.5    368250.5    546179.5    745185.0  22611.0
175    15627.5    35405.5     81411.0    102757.5     89167.0      NaN
179    13001.5    33207.5     83210.5    106044.5    106525.5      NaN
216     9195.0    20873.5     48612.0     74272.5     80625.0      NaN
219    11602.5    24998.0     56760.0     86649.5     96216.5      NaN
241     7300.0    14568.5     37307.5     55246.0     72668.0      NaN
242     6637.5    17134.5     37520.5     60322.0     65401.0      NaN
246    10053.0    24698.0     67310.5     87541.5     56523.5      NaN
249     9220.5    19304.5     51771.0     72958.5     63887.5      NaN
251     9725.0    21558.0     42878.0     65866.5     56043.5      NaN
254    42936.0    97263.5    236787.5    341934.5    314523.5      NaN
260     8317.0    17711.5     35945.0     61542.0     70891.5      NaN
261    24137.5    52898.5    118246.0    164459.0    144684.0      NaN

     1인가구비율  경찰서수
0       NaN   NaN
39     41.1   NaN
45     35.4   NaN
46     47.3   1.0
47     33.6   2.0
49     35.5   1.0
50     35.7   2.0
51     39.1   1.0
53     43.4   1.0
58     33.0   NaN
63     47.7   NaN
66     33.0   1.0
67     33.1   1.0
68     43.6   1.0
69     37.8   1.0
70     38.5   1.0
72     36.9   1.0
73     43.8   1.0
74     39.3   2.0
75     39.4   1.0
76     36.9   1.0
84      NaN   NaN
86      NaN   1.0
90      NaN   1.0
103     NaN   1.0
104     NaN   1.0
105     NaN   1.0
106     NaN   1.0
114     NaN   1.0
117     NaN  17.0
123    36.2   NaN
124    41.5   NaN
140     NaN   NaN
141     NaN   NaN
146    39.5   NaN
148     NaN   NaN
151     NaN   NaN
153    28.5   NaN
158     NaN   NaN
161     NaN   NaN
170     NaN  15.0
175     NaN   NaN
179     NaN   NaN
216     NaN   NaN
219     NaN   NaN
241     NaN   NaN
242     NaN   NaN
246     NaN   NaN
249     NaN   NaN
251     NaN   NaN
254     NaN   NaN
260    34.3   1.0
261    33.5   2.0

In [149]:
cctv_nan = area_df[area_df["CCTV"].isna()]
print(cctv_nan[["행정구역(시)", "행정구역(시군구)별", "CCTV"]])

     행정구역(시) 행정구역(시군구)별  CCTV
0         전국         전국   NaN
46     대구광역시         남구   NaN
47     대구광역시        달서구   NaN
49     대구광역시         동구   NaN
50     대구광역시         북구   NaN
51     대구광역시         서구   NaN
53     대구광역시         중구   NaN
66     광주광역시        광산구   NaN
67     광주광역시         남구   NaN
68     광주광역시         동구   NaN
69     광주광역시         북구   NaN
70     광주광역시         서구   NaN
72     대전광역시        대덕구   NaN
73     대전광역시         동구   NaN
74     대전광역시         서구   NaN
75     대전광역시        유성구   NaN
76     대전광역시         중구   NaN
84   세종특별자치시        세종시   NaN
106      경기도        연천군   NaN
140     충청북도        상당구   NaN
141     충청북도        서원구   NaN
148     충청북도        청원구   NaN
151     충청북도        흥덕구   NaN
158     충청남도        동남구   NaN
161     충청남도        서북구   NaN
175     전라북도        덕진구   NaN
179     전라북도        완산구   NaN
216     경상북도         남구   NaN
219     경상북도         북구   NaN
241     경상남도      마산합포구   NaN
242     경상남도      마산회원구   NaN
246     경상남도        성산구   NaN
249     경상남도        의창구   NaN
251     경상남도        진해구   NaN
254     경상남도      통합창원시   NaN
260  제주특별자치도       서귀포시   NaN
261  제주특별자치도        제주시   NaN

In [150]:
# CCTV - NaN을 시 기준 평균으로 채우기
area_df["CCTV"] = area_df.groupby("행정구역(시)")["CCTV"].transform(
    lambda x: x.fillna(x.mean())
)

# 출력
cctv_nan = area_df[area_df["CCTV"].isna()]
print(cctv_nan[["행정구역(시)", "행정구역(시군구)별", "CCTV"]])

  행정구역(시) 행정구역(시군구)별  CCTV
0      전국         전국   NaN

In [151]:
# 출력
one_person_nan = area_df[area_df["1인가구비율"].isna()]
print(one_person_nan[["행정구역(시)", "행정구역(시군구)별", "1인가구비율"]])

     행정구역(시) 행정구역(시군구)별  1인가구비율
0         전국         전국     NaN
84   세종특별자치시        세종시     NaN
86       경기도        가평군     NaN
90       경기도        광주시     NaN
103      경기도        양주시     NaN
104      경기도        양평군     NaN
105      경기도        여주시     NaN
106      경기도        연천군     NaN
114      경기도        포천시     NaN
117      강원도        강원도     NaN
140     충청북도        상당구     NaN
141     충청북도        서원구     NaN
148     충청북도        청원구     NaN
151     충청북도        흥덕구     NaN
158     충청남도        동남구     NaN
161     충청남도        서북구     NaN
170     전라북도       전라북도     NaN
175     전라북도        덕진구     NaN
179     전라북도        완산구     NaN
216     경상북도         남구     NaN
219     경상북도         북구     NaN
241     경상남도      마산합포구     NaN
242     경상남도      마산회원구     NaN
246     경상남도        성산구     NaN
249     경상남도        의창구     NaN
251     경상남도        진해구     NaN
254     경상남도      통합창원시     NaN

In [152]:
# CCTV - NaN을 시 기준 평균으로 채우기
area_df["1인가구비율"] = area_df.groupby("행정구역(시)")["1인가구비율"].transform(
    lambda x: x.fillna(x.mean())
)

# 출력
one_person_nan = area_df[area_df["1인가구비율"].isna()]
print(one_person_nan[["행정구역(시)", "행정구역(시군구)별", "1인가구비율"]])

  행정구역(시) 행정구역(시군구)별  1인가구비율
0      전국         전국     NaN

In [153]:
# 출력
police_nan = area_df[area_df["경찰서수"].isna()]
print(police_nan[["행정구역(시)", "행정구역(시군구)별", "경찰서수"]])

     행정구역(시) 행정구역(시군구)별  경찰서수
0         전국         전국   NaN
39     부산광역시        수영구   NaN
45     대구광역시        군위군   NaN
58     인천광역시         동구   NaN
63     인천광역시        옹진군   NaN
84   세종특별자치시        세종시   NaN
123      강원도        양구군   NaN
124      강원도        양양군   NaN
140     충청북도        상당구   NaN
141     충청북도        서원구   NaN
146     충청북도        증평군   NaN
148     충청북도        청원구   NaN
151     충청북도        흥덕구   NaN
153     충청남도        계룡시   NaN
158     충청남도        동남구   NaN
161     충청남도        서북구   NaN
175     전라북도        덕진구   NaN
179     전라북도        완산구   NaN
216     경상북도         남구   NaN
219     경상북도         북구   NaN
241     경상남도      마산합포구   NaN
242     경상남도      마산회원구   NaN
246     경상남도        성산구   NaN
249     경상남도        의창구   NaN
251     경상남도        진해구   NaN
254     경상남도      통합창원시   NaN

In [154]:
# CCTV - NaN을 시 기준 평균으로 채우기
area_df["경찰서수"] = area_df.groupby("행정구역(시)")["경찰서수"].transform(
    lambda x: x.fillna(x.mean())
)

# 출력
police_nan = area_df[area_df["경찰서수"].isna()]
print(police_nan[["행정구역(시)", "행정구역(시군구)별", "경찰서수"]])

  행정구역(시) 행정구역(시군구)별  경찰서수
0      전국         전국   NaN

In [156]:
filtered = area_df[area_df['행정구역(시)'] != '전국']

In [160]:
filtered.isna().sum()

시점            0
행정구역(시)       0
행정구역(시군구)별    0
총인구수          0
남자인구수         0
여자인구수         0
영아기           0
아동기           0
청소년기          0
청년기           0
중년기           0
노년기           0
CCTV          0
1인가구비율        0
경찰서수          0
dtype: int64

In [161]:
filtered

,시점,행정구역(시),행정구역(시군구)별,총인구수,남자인구수,여자인구수,영아기,아동기,청소년기,청년기,중년기,노년기,CCTV,1인가구비율,경찰서수
1,2023,서울특별시,서울특별시,9334933.5,4517716.5,4817217.0,220265.5,308678.0,739051.5,2785782.5,2895349.0,2908352.5,113557.0,39.3,31.0
2,2023,서울특별시,강남구,529711.5,253227.5,276484.0,11753.0,20850.0,60724.5,143489.0,178728.5,137498.5,8344.0,35.1,2.0
3,2023,서울특별시,강동구,456583.5,223164.5,233419.0,13400.5,18305.0,38867.0,125691.5,143860.0,137049.0,4238.0,33.2,1.0
4,2023,서울특별시,강북구,288656.5,139838.5,148818.0,4806.0,7356.5,19546.5,74110.0,90358.0,114242.5,3584.0,40.1,1.0
5,2023,서울특별시,강서구,562962.0,269867.5,293094.5,13845.5,18529.5,42348.0,177448.5,168935.0,170268.0,4184.0,40.9,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,2023,경상남도,함양군,37201.5,18030.5,19171.0,521.5,930.5,2717.0,4704.5,10265.0,25112.5,1051.0,41.1,1.0
258,2023,경상남도,합천군,41385.5,20184.0,21201.5,518.5,724.0,2178.0,4536.0,10465.5,32352.0,1100.0,44.4,1.0
259,2023,제주특별자치도,제주특별자치도,673099.0,336907.5,336191.5,20624.5,32454.5,70610.0,154191.0,226001.0,215575.5,16013.0,33.7,3.0
260,2023,제주특별자치도,서귀포시,183240.5,92241.5,90999.0,4893.5,8317.0,17711.5,35945.0,61542.0,70891.5,16013.0,34.3,1.0
261,2023,제주특별자치도,제주시,489858.5,244666.0,245192.5,15731.0,24137.5,52898.5,118246.0,164459.0,144684.0,16013.0,33.5,2.0

In [ ]:
# 저장 경로 설정
save_path = "../../data/4.etc/processed_area_add_df.csv"

# CSV 저장
filtered.to_csv(save_path, index=False, encoding='UTF-8')

print("저장 완료:", save_path)

저장 완료: ../../data/4.etc/processed_area_add_df.csv